/* 
	Button Icon Font Style Mixin
	@param $height - height of the button
	@param $primary-font-size - font size for button text
	@param $icon-font-size - font size for button icon
 */
 @mixin button-icon-font($height, $primary-font-size, $icon-font-size) {
 	height: $height;
 	line-height: $height;
 	font-size: $primary-font-size;
 	i {
 		font-size: $icon-font-size;
 	}
 }